p {
  color: blue;
  font-size: 32px;
}
body {
  margin-top: 10%;
}
.container-fluid {
  background-color: tan;
  margin: 0 10% 0 10%;
}
.warning {
  color: red;
}
.purple {
  color: purple;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
}