<!DOCTYPE html>
<html>
<head>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  
   <link href="/stylesheets/main.css" rel="stylesheet" type="text/css">
   
</head>

<body>
<div class = "container-fluid">
  <div class = "row text-center">
    <div class = "col-xs-12">
      <p>How to use this project: <br>
      Input a date after the url using unixtime or natural date like so: <br>
      <span class = "purple">http://salty-savannah-83109.herokuapp.com/99999 <br>
      http://salty-savannah-83109.herokuapp.com/January%11,2017 </span>
      <br> <span class = "warning">If input is invalid, values will be null.</span></p>
    </div>
  </div>
</div>



</body>
</html>
